<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165995188-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-165995188-1');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="내가 집어든 이 양파, 싼 걸까, 비싼걸까? 그 기준을 제시해 드립니다.">
	<meta property="og:url" content="website">
	<meta property="og:type" content="http://www.cartsavior.ga/">
	<meta property="og:title" content="농수축산물 시세 보기 서비스 | 카트 세이버">
	<meta property="og:description" content="내가 집어든 이 양파, 싼 걸까, 비싼걸까? 그 기준을 제시해 드립니다.">
	<meta property="og:image" content="http://www.cartsavior.ga/static/images/link_thumbnail.jpg">
	<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div id="loader" class="loader">
		<img src="../static/images/icon_loading.png" alt="" class="img">
		<p class="txt">잠시만 기다려주세요...</p>
	</div>
	<header class="header">
		<h1 class="logo">
			<a href="{{ url_for('search.index', search_key=key) }}">
				<img class="hidden-m" src="../static/images/logo_pc.svg" alt="cart savior">
				<img class="hidden-p visible-m" src="../static/images/logo_m.svg" alt="cart savior">
				{% block script_head %}{% endblock %}
			</a>
		</h1>
		{% block search %}{% endblock %}
	</header>
	{% block content %}{% endblock %}
	<footer class="footer">
		<a href="https://github.com/pje1740/cart_savior" target="_blank" class="btn_github" title="새창열림"><span class="ir">giithub</span></a>
		<p>Copyright (C) 2020. CART SAVIOR all rights reserved.</p>
	</footer>
	<div id="bg" class="bg"></div>
	
</body>
<script type="text/javascript" src="../static/js/common.js"></script>
{% block graph %}{% endblock %}
</html>
