<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart Savior</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div id="loader" class="loader">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<header class="header">
		<h1 class="logo">
			<a href="{{ url_for('index', search_key=key) }}">
				<img class="hidden-m" src="../static/images/logo_pc.svg" alt="cart savior">
				<img class="hidden-p visible-m" src="../static/images/logo_m.svg" alt="cart savior">
			</a>
		</h1>
	</header>
	<section class="container">
		<div class="main_wrap flex-layout">
			<div class="flex-item col-p-4 col-m-12">
				<h2 class="title_lg">장보기 전,</br>이제는 <span class="txt_green">시세</span>먼저 보자.</h2>
				<div class="search_bar">
					<form action="{{url_for('search')}}">
						<input class="inp_search" type="text" name="search_text" id="" placeholder="오늘의 무 값은?" required aria-required="true"/>
						<button class="btn_search" type="submit"><span class="ir">검색하기</span></button>
					</form>
				</div>
				<ul class="hash_list">
					{% for key in random_keys %}
					<li class="hash_item"><a href="{{ url_for('search_hash', search_key=key) }}"># {{ key }}</a></li>
					{% endfor %}
				</ul>
			</div> 
			<div class="flex-item col-p-8 col-m-12">
				<img src="../static/images/img_main.png" alt="">
			</div>
		</div>
	</section>
	<footer class="footer">
		<p>Copyright (C) 2020. CART SAVIOR all rights reserved.</p>
	</footer>
	<div id="bg" class="bg"></div>
	<script type="text/javascript" src="../static/js/common.js"></script>
</body>
</html>
