<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart Savior | 검색 결과</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div id="loader" class="loader">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<header class="header">
		<h1 class="logo">
			<a href="{{ url_for('index', search_key=key) }}">
				<img class="hidden-m" src="../static/images/logo_pc.svg" alt="cart savior">
				<img class="hidden-p visible-m" src="../static/images/logo_m.svg" alt="cart savior">
			</a>
		</h1>
		<div class="search_bar">
			<form action="{{url_for('search')}}">
				<input class="inp_search" type="text" name="search_text" id="" placeholder="오늘의 무 값은?" required aria-required="true"/>
				<button class="btn_search" type="submit">검색하기</button>
			</form>
		</div>
	</header>
	<section class="container">
		<div class="sub_wrap">
			<h2 class="flex-item title_md"><span class="txt_green">{{ search_key }}</span>키워드로 검색한 <span class="txt_green">{{ list | length }}개</span>의 결과입니다.</h2>
			<ul class="sub_list flex-layout">
				{% for info in list %}
				<li class="flex-item col-p-4 col-m-12 col-m-12">
					<div class="sub_item">
						<div class="item_info type_{{ info.category_code}}">
							<h3 class="title">{{ info.item_name }} ({{ info.rank }})</h3>
							<span class="sub_title">{{ info.kind_name }}</span>
						</div>
						<div class="item_price">
							<strong class="price txt_green">{{ info.item_price | num_format}}원</strong>
							<span class="status"> 
								{% if info.diff > 0 -%}
								일주일 전보다 <em class="txt_up"> {{ info.diff | num_format}}원</em></span>
								{% elif info.diff <0 -%}
								일주일 전보다 <em class="txt_down">{{ info.diff | num_format}}원</em></span>
								{% else %}
								<em>가격이 똑같아요 ^3^</em>
								{% endif %}
						</div>
						<div class="item_bottom">
							<span class="date">{{ info.date.strftime('%-m월 %d일') }} 기준</span>
							<a href="{{ url_for('detail', index=loop.index) }}" class="btn_more">자세히 보기</a>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	<footer class="footer">
		<p>Copyright (C) 2020. CART SAVIOR all rights reserved.</p>
	</footer>
	<div id="bg" class="bg"></div>
	<script type="text/javascript" src="../static/js/common.js"></script>
</body>
</html>
