{% extends "layout.html" %}
{% block title %}Cart Savior | 검색 결과{% endblock %}
{% block search %}
<div class="search_bar">
	<form action="{{url_for('search')}}">
		<input class="inp_search" type="text" name="search_text" id="" placeholder="오늘의 무 값은?" required aria-required="true"/>
		<button class="btn_search" type="submit"><span class="ir">검색하기</span></button>
	</form>
</div>
{% endblock %}
{% block content %}
	<!-- 여기부터 본문 -->
	<section class="container">
		<div class="sub_wrap">
			<h2 class="flex-item title_md"><span class="txt_green">{{ search_key }}</span>키워드로 검색한 <span class="txt_green">{{ list | length }}개</span>의 결과입니다.</h2>
			<ul class="sub_list flex-layout">
				{% for info in list %}
				<li class="flex-item col-p-4 col-m-12 col-m-12">
					<div class="sub_item">
						<a href="{{ url_for('detail', index=loop.index) }}" class="item_info type_{{ info.item_code }}">
							<h3 class="title">{{ info.item_name }} ({{ info.rank }})</h3>
							<span class="sub_title">{{ info.kind_name }}</span>
						</a>
						<div class="item_price">
							<strong class="price txt_green">{{ info.item_price | num_format}}원</strong>
							<span class="status"> 
								{% if info.diff > 0 -%}
								일주일 전보다 <em class="txt_up"> {{ info.diff | num_format}}원</em>
								{% elif info.diff <0 -%}
								일주일 전보다 <em class="txt_down">{{ info.diff | num_format}}원</em>
								{% else %}
								일주일 전과 <em class="txt_yellow">가격이 동일합니다.</em>
								{% endif %}
							</span>
						</div>
						<div class="item_bottom">
							<span class="date">{{ info.date.strftime('%-m월 %d일') }} 기준</span>
							<a id="btn_more" href="{{ url_for('detail', index=loop.index) }}" class="btn_more">자세히 보기</a>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	{% endblock %}
	<!-- // 여기까지 본문 -->

