@import "reset.css";
@import "breakpoints.css";

button, input {
	border: none;
	background-color: transparent;
}
button {
	cursor: pointer;
}
.txt_white {
	color: #fff !important;
}
.txt_green {
	color: #4ea37a !important;
}
.txt_orange {
	color: #fa6400 !important;
}

body {
	width: 100%;
	height: 100%;
	background-color: #f2f8f1;
}
/* header */
header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 20px;
	display: flex;
	justify-content: space-between;
}
header .logo a {
	display: inline-block;
	height: 50px;
}
header .logo img {
	height: inherit;
}
/* container */
.container {
	max-width: 1200px;
	min-height: calc(100vh - 190px);
	margin: 0 auto;
}
/* footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	text-align: center;
}
footer p {
	font-size: 14px;
	color: #999;
}
/* main */
.main_wrap {
	padding-top: 200px;
}
.no_result_wrap {
	padding-top: 200px;
	text-align: center;
}
.sub_wrap {
	padding-top: 100px;
}
.no_result_wrap .search_bar {
	margin: 18px auto 0;
}
.no_result_wrap .hash_list {
	justify-content: center;
}
.detail_wrap {
	padding-top: 100px;
}
.title_md {
	line-height: 1.2em;
	font-size: 24px;
	font-weight: 500;
	color: #444;
}
.title_lg {
	line-height: 1.2em;
	font-size: 36px;
	font-weight: 500;
	color: #444;
}
.main_wrap *[class^="title_"]+.search_bar {
	margin-top: 10px;
}
/* search bar */
.search_bar {
	width: 100%;
	max-width: 416px;
}
.search_bar form {
	display: flex;
	justify-content: space-between;
	height: 60px;
	border-radius: 17px;
	background-color: #fff;
}
.inp_search {
	flex: 1;
	padding-left: 20px;
	font-size: 16px;
}
.btn_search {
	width: 60px;
	text-indent: -9999px;
	background: url(../images/search.svg) no-repeat center;
}
.hash_list {
	display: flex;
	padding-top: 15px;
}
.hash_list li+li {
	margin-left: 10px;
}
.hash_list li a {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	border-radius: 8px;
  	background-color: #4ea37a;
}
.sub_item {
	/* margin-top: 2rem; */
	padding: 24px 30px;
	border-radius: 10px;
	background-color: #fff;
	/* transition: box-shadow .5s; */
}
/* .sub_item:hover {
	box-shadow: 5px 5px 5px 5px rgba(173, 230, 189, 0.);
	transition: box-shadow .5s;
} */
.item_info {
	position: relative;
	padding-left: 60px;
}
.item_info:after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #FFFAE4 url(../images/itemcode_100.png) center no-repeat;
	background-size: 25px auto;
}
.item_info.type_100:after {
	background-color: #FFFAE4;
	background-image: url(../images/itemcode_100.png);
}
.item_info.type_200:after {
	background-color: #E3FFCC;
	background-image: url(../images/item_211.png);
}
.item_info.type_300:after {
	background-color: #FFCAC4;
	background-image: url(../images/itemcode_300.png);
}
.item_info.type_400:after {
	background-color: #FFE4E4;
	background-image: url(../images/itemcode_400.png);
}
.item_info.type_500:after {
	background-color: #FFF7E7;
	background-image: url(../images/itemcode_500.png);
}
.item_info.type_600:after {
	background-color: #E0F7FF;
	background-image: url(../images/item_611.png);
}
.item_info .title {
	font-size: 20px;
	font-weight: 500;
}
.item_info .sub_title {
	font-size: 14px;
	font-weight: 500;
	color: #999;
}
.item_price {
	margin-top: 26px;
}
.item_price .price {
	font-size: 24px;
  	font-weight: bold;
}
.item_price .status {
	display: block;
	font-size: 14px;
	font-weight: bold;  
	color: #999;
}
.txt_up {
	padding-right: 22px;
	color: #fa6400;
	background: url(../images/arrow_up.svg) no-repeat right center;
	background-size: 20px auto;
}
.txt_down {
	padding-right: 22px;
	color: #0091ff;
	background: url(../images/arrow_down.svg) no-repeat right center;
	background-size: 20px auto;
}
.item_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 83px;
}
.item_bottom .date {
	font-size: 14px;
	font-weight: 500;
	color: #999;
}
.btn_more {
	padding: 16px 27px;
	font-size: 12px;
	font-weight: bold;
	color: #4ea37a;
	transition: all .5s;
	border-radius: 8px;
  	background-color: #f2f8f1;
}
.btn_more:hover {
	transition: all .5s;
	color: #f2f8f1;
	background-color: #4ea37a;
}
/* .detail_info_wrap {
	margin-top: 35px;
} */
.detail_item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 460px;
	padding: 24px 30px;
	border-radius: 10px;
	background-color: #fff;
}
.detail_info .date {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #999;
}
.detail_info .price {
	display: block;
	font-size: 24px;
	font-weight: 500;
	color: #444;
}
.detail_info .price+.price {
	margin-top: 30px;
}
.detail_source {
	text-align: right;
	font-size: 14px;
	color: #999;
}
.detail_graph {
	min-height: 460px;
	padding: 24px 30px;
	border-radius: 10px;
	background-color: #4ea37a;
}

@media screen and (max-width: 768px) {
	.title_lg {
		text-align: center;
		font-size: 20px;
	}
	.title_md {
		font-size: 18px;
	}
	.main_wrap *[class^="title_"]+.search_bar {
		margin: 10px auto;
	}
	.search_bar {
		width: 80%;
	}
	.search_bar form {
		height: 50px;
	}
	.hash_list {
		justify-content: center;
	}
	.inp_search {
		font-size: 14px;
	}
	.item_bottom {
		margin-top: 30px;
	}
	.item_info .title {
		font-size: 18px;
	}
	.main_wrap, .no_result_wrap {
		padding-top: 50px;
	}
	.detail_wrap, .sub_wrap {
		padding-top: 20px;
	}
	.detail_item, .detail_graph {
		min-height: auto;
	}
	.detail_item .price {
		font-size: 20px;
	}

}
