.flex-layout { display: flex; justify-content: start; align-items: center; flex-wrap: wrap; }
.flex-item { padding: 10px 20px; }

.col-p-1 { max-width:  8.333333%; flex: 0 0 8.333333%; }
.col-p-2 { max-width: 16.666667%; flex: 0 0 16.666667%; }
.col-p-3 { max-width: 25%; flex: 0 0 25%; }
.col-p-4 { max-width: 33.333333%; flex: 0 0 33.333333%; }
.col-p-5 { max-width: 41.666667%; flex: 0 0 41.666667%; }
.col-p-6 { max-width: 50%; flex: 0 0 50%; }
.col-p-7 { max-width: 58.333333%; flex: 0 0 58.333333%; }
.col-p-8 { max-width: 66.666667%; flex: 0 0 66.666667%; }
.col-p-9 { max-width: 75%; flex: 0 0 75%; }
.col-p-10 { max-width: 83.333333%; flex: 0 0 83.333333%; }
.col-p-11 { max-width: 91.666667%; flex: 0 0 91.666667%; }
.col-p-12 { max-width: 100%; flex: 0 0 100%; }
.hidden-p { display: none; }
.visible-p { display: block; }

@media screen and (max-width: 768px) {
	.col-m-1 { max-width:  8.333333%; flex: 0 0 8.333333%; }
	.col-m-2 { max-width: 16.666667%; flex: 0 0 16.666667%; }
	.col-m-3 { max-width: 25%; flex: 0 0 25%; }
	.col-m-4 { max-width: 33.333333%; flex: 0 0 33.333333%; }
	.col-m-5 { max-width: 41.666667%; flex: 0 0 41.666667%; }
	.col-m-6 { max-width: 50%; flex: 0 0 50%; }
	.col-m-7 { max-width: 58.333333%; flex: 0 0 58.333333%; }
	.col-m-8 { max-width: 66.666667%; flex: 0 0 66.666667%; }
	.col-m-9 { max-width: 75%; flex: 0 0 75%; }
	.col-m-10 { max-width: 83.333333%; flex: 0 0 83.333333%; }
	.col-m-11 { max-width: 91.666667%; flex: 0 0 91.666667%; }
	.col-m-12 { max-width: 100%; flex: 0 0 100%; }
	.hidden-m { display: none; }
	.visible-m { display: block;}
}

